<h1>About</h1>

<%= link_to 'Resumé', asset_path('resume.pdf'), target: :_blank %>
<%= link_to 'Github', 'https://www.github.com/bisonhubert', target: :_blank %>
<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/bisonhubert', target: :_blank %>
<%= link_to 'Twitter', 'https://www.twitter.com/_bison__', target: :_blank %>

<%= link_to 'Portfolio', portfolio_path %>
<a href="#">Blog</a>
<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>