<% provide(:title, 'About') %>

<div class='about-wrapper static-page-wrapper'>
  <header class='site-header'>
    <nav class='site-nav-wrapper header-nav-wrapper'>
      <%= link_to 'Portfolio', portfolio_path, class: 'site-nav header-nav' %>
      <%= link_to 'Blog', '#', class: 'site-nav header-nav' %>
      <%= link_to 'Home', home_path, class: 'site-nav header-nav' %>
    </nav>
  </header>
  <main class='about-main'>
    <div class='top-content left-content'>
      <%= image_tag 'profile-pictures/profile-picture-snowman.jpg', alt: 'bison-hubert-with-snowman', class: 'image-circle profile-pic' %>
    </div>
    <div class='bottom-content right-content'>
      <div class='about-blurb'>
        <p class='about-p'>
          Bison Hubert is California native who started pursuing software development as a career in the summer of 2014. His first Rails application was an attempt to address the problem of hunger in San Francisco. Since then he has been drawn to tech solutions that address health and social needs.
        </p>
        <p class='about-p'>
          This committment to growth goes both ways. Since 2015 he has mentored hundreds of students from across the globe looking to make the jump into programming. The curriculum bridges fundamentals for web development, accelerated learning techniques, emotional intelligence, and sharing feedback.
        </p>
        <p class='about-p'>
          In his spare time he can be found riding his bike around the Bay Area, reading comic books, cooking (and sampling) savory dishes, and spending time with his friends and family.
        </p>
      </div>
    </div>
  </main>
  <footer class='site-footer'>
    <nav class='site-nav-wrapper social-nav-wrapper'>
      <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/bisonhubert', target: :_blank, class: 'site-nav social-nav' %>
      <%= link_to 'Github', 'https://www.github.com/bisonhubert', target: :_blank, class: 'site-nav social-nav' %>
      <%= link_to 'Twitter', 'https://www.twitter.com/_bison__', target: :_blank, class: 'site-nav social-nav' %>
      <%= link_to 'Resume', resume_path, target: :_blank, class: 'site-nav social-nav' %>  
    </nav>
  </footer>
</div>