<% provide(:title, @article.title) %>
<div class='static-page-wrapper'>
  <main class='blog-article'>
    <header class='article-header'>
      <%= image_tag @article.image, class: 'article-image' %>
      <h1 class='article-title'><%= @article.title %></h1>
      <h4 class='article-date'><%= format_date(@article.created_at) %></h4>
    </header>
    <div class='article-text-wrapper'>
      <%= simple_format(@article.text) %>
    </div>
    <%= link_to '<<', blog_path, class: 'back-button' %>
  </main>
</div>
<%= render 'edit_delete_article' %>