<h1><%= @project.title %></h1>
<p><%= @project.description %></p>
<p><%= @project.image %></p>
<p><%= @project.github_link %></p>
<p><%= @project.demo_link %></p>

<%= link_to 'Back', projects_path %>